body {
	margin: 20px;
	background-color:lightblue
}

h1 {
	color: green;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
}
p {
   font-family: 'CovalRegular';
   font-weight: normal;
   font-style: normal;
}
#zaglavie {
	border: 100px solid blue;
	padding: 20px;
	margin: 50px;
}
.vazhno {
	background-color: lightblue;
}
img {
	width: 200px;
	height: auto;
}
video {
	width: 320px;
	height: auto;
}
iframe {
	width: 320px;
	height: auto;
}
