<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        <link rel="icon" type="image/png" href="favicon.png">
        <link rel="stylesheet" media="screen" href="https://fontlibrary.org//face/bretan" type="text/css"/>
        <link rel="stylesheet" href="picnic.css">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <nav>
            <a href="index.html" class="brand">
                <img class="logo" src="favicon.png" />
                <span>Авто</span>
            </a>
            <input id="menu" type="checkbox" class="show">
            <label for="menu" class="burger pseudo button">меню</label>

            <div class="menu">
                <a href="istoriq.html" class="pseudo button icon-picture">История</a>
                <a href="ustroistvo.html" class="pseudo button icon-puzzle">Устройство</a>
                <a href="vidove.html" class="pseudo button icon-puzzle">Видове</a>
            </div>
        </nav>
        <div class="flex center">
            <!-- Това е коментар и няма да се вижда в браузъра -->
            <h1 class="full">{{ page.title }}</h1>
            {{ content }}
        </div>
    </body>
</html>
